<div class="panel panel-primary">
  <div class="panel-heading">
    Sign Up
  </div>
  <div class="panel-body">
    <form class="form-horizontal">
      <fieldset>
        <div class="form-group">
          <label class="col-md-2 control-label" for="firstNameId">First Name</label>
          <div class="col-md-6">
            <input class="form-control" type="text" id="firstNameId" placeholder="First Name (required)" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label" for="lastNameId">Last Name</label>
          <div class="col-md-6">
            <input class="form-control  " type="text" id="lastNameId" placeholder="Last Name (required)" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label" for="emailId">Email</label>
          <div class="col-md-6">
            <input class="form-control" type="text" id="emailId" placeholder="Email (required)" />
          </div>
        </div>
        <div class="form-group">
          <div class="checkbox col-md-8 col-md-offset-2">
            <label>
              <input type="checkbox" /> Send me your catalog
            </label>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label" for="addressTypeId">Address Type</label>
          <div class="col-md-6">
            <label class="radio-inline">
              <input type="radio" value="home" />Home
            </label>
            <label class="radio-inline">
              <input type="radio" value="work" />Work
            </label>
            <label class="radio-inline">
              <input type="radio" value="other" />Other
            </label>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label" for="address1Id">
            Street Address 1
          </label>
          <div class="col-md-6">
            <input class="form-control" id="address1Id" placeholder="Street Address" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label" for="address2Id">
            Street Address 2
          </label>
          <div class="col-md-6">
            <input class="form-control" id="address2Id" placeholder="Street Address (second line)" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">City, State, Zip Code</label>
          <div class="col-md-3">
            <input class="form-control" type="text" placeholder="City" />
          </div>
          <div class="col-md-3">
            <select class="form-control">
              <option value="" disabled selected hidden>Select a state</option>
              <option value="AL">Alabama</option>
              <option value="AK">Alaska</option>
              <option value="AZ">Arizona</option>
              <option value="AR">Arkansas</option>
              <option value="CA">California</option>
              <option value="CO">Colorado</option>
              <option value="WI">Wisconsin</option>
              <option value="WY">Wyoming</option>
            </select>
          </div>
          <div class="col-md-3">
            <input class="form-control" type="text" placeholder="Zip" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-4 col-md-offet-2">
            <span>
              <a class="btn btn-default">
                <i class="glyphicon glyphicon-chevron-left"></i>Back</a>
            </span>
            <span>
              <button class="btn btn-primary">Save</button>
            </span>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>