<div class="panel panel-primary">
  <div class="panel-heading" *ngIf="product" >
    Edit Product : {{product.productName}}
  </div>
  <div class="panel-body">
    <div class="wizard">
      <a [routerLink]="['info']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Basic Information
      </a>
      <a [routerLink]="['tags']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Search Tags
      </a>
    </div>
    <router-outlet></router-outlet>
  </div>
  <div class="panel-footer">
    <a class="btn btn-default" (click)="onBack()">
      <i class="glyphicon glyphicon-chevron-left"></i>Back</a>
    <button class="btn btn-primary" (click)="saveProduct()">Save</button>
    <button class="btn btn-default" (click)="deleteProduct()">Delete</button>
  </div>
</div>