<span class="loading" *ngIf="loading"></span>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">{{title}}</a>
    </div>
    <ul class="nav navbar-nav">
      <li [routerLinkActive]="['active']">
        <a [routerLink]="['/welcome']">Home</a>
      </li>
      <li [routerLinkActive]="['active']">
        <a [routerLink]="['/products']">Product List</a>
      </li>
      <li [routerLinkActive]="['active']">
        <a [routerLink]="['/signup']">Sign Up</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="authService.isLoggedIn()">
        <a>Welcome {{authService.currentUser.userName}}</a>
      </li>
      <li *ngIf="!displayMessages">
        <a (click)="showMessages()">show messages</a>
      </li>
      <li *ngIf="displayMessages">
          <a (click)="hideMessages()">Hide messages</a>
        </li>
      <li [routerLinkActive]="['active']" *ngIf="!authService.isLoggedIn()">
        <a [routerLink]="['/login']">Login</a>
      </li>
      <li [routerLinkActive]="['active']" *ngIf="authService.isLoggedIn()">
        <a (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-10">
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-2">
      <router-outlet name="popup"></router-outlet>
    </div>
  </div>
</div>