<div class="panel panel-primary">
  <div class="panel-heading">
    User Login
  </div>
  <div class="panel-body">
    <form class="form-horizontal" #loginForm="ngForm" (submit)="login(loginForm)">
      <fieldset>
        <div class="form-group">
          <label class="control-label col-md-2">User Name</label>
          <div class="col-md-6">
            <input class="form-control" type="text" name="userName" placeholder="User Name (Required)" [(ngModel)]="userName"/>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2">Password</label>
          <div class="col-md-6">
            <input class="form-control" type="password" name="password  " placeholder="Password (Required)" [(ngModel)]="password"/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-4">
            <button class="btn btn-primary">Login</button>
            <button class="btn btn-default">Cancel</button>
          </div>
        </div>
      </fieldset>
      <div>Data: {{loginForm.value | json}}</div>
      <div>Form Valid: {{loginForm.valid}}</div>
      <div>Form Dirty: {{loginForm.dirty}}</div>
    </form>
    
  </div>
</div>